<p id="notice"><%= notice %></p>

<div class="pure-g">
<div class="pure-u-1-4">
    <%= @category.title %>
</div>
</div>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
